name: CI
on:
  push:
    paths:
      - go.mod
      - go.sum
      - "**.go"
      - ".github/workflows/ci.yaml"
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Go mod tidy
        run: | 
          go mod tidy
          git diff --exit-code
      - name: Format
        run: |
          go fmt ./...
          git diff --exit-code
      - name: staticcheck
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false
      - name: Test Short
        env:
          SSS_CONFIG: ./config_localstack.toml
        run: |
           go test -short -count=1 -race ./...
      - name: Start LocalStack
        uses: LocalStack/setup-localstack@v0.2.3
        with:
          image-tag: 'latest'
          configuration: SERVICES=s3
      - name: Test Full
        env:
          SSS_CONFIG: ./config_localstack.toml
        run: |
           go test -count=1 -race ./...
